<div class="row">
  <div class="form-floating mt-2 mb-2">
    <textarea id="text-<%=comment.id%>" class="form-control" placeholder="Leave a comment here" style="height: 100%;" disabled>
      <%= comment.comment %>
    </textarea>
    <label for="text-<%=comment.id%>">@<%= comment.user.username %></label>
  </div>
  <!--
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button type="button" class="btn btn-link">Edit</button>
    <button type="button" class="btn btn-link">Save</button>
    </div>
  -->
</div>
<% if comment.comments %>
  <div class="container">
    <div class="row">
      <div class="float-end">
        <!-- render partial: 'comment', collection: comment.comments -->
      </div>
      <br>
    </div>
  </div>
<% end %>
