<h2 class="mb-4">
  Projects
  <small class="text-muted">List of all projects</small>
</h2>

<% flash.each do |type, msg| %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <%= msg %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<ol class="list-group list-group-numbered mt-4">
  <% @projects.each do |project| %>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">
          <%= link_to project.name, project %>
        </div>
        <%= project.description %>
      </div>
      <span class="badge bg-primary rounded-pill"><%= project.comments.count %></span>
    </li>
  <% end %>
</ol>
