<h2>
  Project:
  <small class="text-muted"><%= @project.name %></small>
</h2>

<% flash.each do |type, msg| %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <%= msg %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<dl class="row">
  <dt class="col-sm-3">Status</dt>
  <dd class="col-sm-9">
    <%= form_for(@project) do |f| %>
      <select onchange="this.form.submit()" class="form-select" aria-label="Default select example" name="status">
        <%= Project.statuses.keys.each do |status| %>
          <option <%= @project.status == status ? 'selected' : '' %> value="<%= status %>">
          <%= status.titleize %>
          </option>
        <% end %>
        <option value="fake">fake</option>
      </select>
    <% end %>
  </dd>
</dl>

<%= link_to "← Projects", projects_path, class: 'btn btn-outline-secondary mt-4 mb-4' %>

<%= render partial: 'comment', collection: @project.direct_comments %>
<%= form_for('New Comment', url: project_comments_path(project_id: @project.id)) do |f| %>
  <div class="form-floating mt-2 mb-2">
    <textarea class="form-control" placeholder="Leave a comment here" name="comment" style="height: 100%;"></textarea>
    <label for="floatingTextarea">Comment</label>
  </div>

  <%= f.submit :Comment, class: 'btn btn-success' %>
<% end %>
