<div class="jumbotron d-flex align-items-center min-vh-100">
<div class="container-fluid">
  <div class="row"></div>
  <div class="row align-items-center">
    <section class="w-100 p-4 d-flex justify-content-center pb-4">
      <div class="tab-content col-sm-3">
        <div class="tab-pane show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <!-- Email input -->
            <div class="form-floating mb-4">
              <%= f.text_field :email, autofocus: true, autocomplete: "Email", class: 'form-control' %>
              <%= f.label :email, class: 'form-label' %>
            </div>

            <!-- Password input -->
            <div class="form-floating mb-4">
              <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
              <%= f.label :password, class: 'form-label' %>
            </div>

            <!-- 2 column grid layout -->
            <div class="row mb-4">
              <div class="col-md-6 justify-content-center">
                <!-- Checkbox -->
                <div class="form-check mb-3 mb-md-0">
                  <%= f.check_box :remember_me, class: 'form-check-input' %>
                  <%= f.label :remember_me, class: 'form-check-label' %>
                </div>
              </div>
            </div>

            <!-- Submit button -->
            <%= f.submit "Log in", class: 'w-100 btn btn-primary btn-block mb-4' %>
          <% end %>
        </div>
      </div>
    </section>
  </div>
</div>
</div>
